@import 'tailwindcss/theme.css';
@import 'tailwindcss/utilities.css';

@source "./components/**/*.vue";
@source "./integration.ts";

@layer base {
    [data-role] {
        font-family:
        -apple-system,
        BlinkMacSystemFont,
        "SF Pro Display",
        "SF Pro Text",
        "Helvetica Neue",
        Arial,
        sans-serif;
    }

    table {
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid var(--color-slate-200);
    }

    th {
        font-weight: 600;
    }
}
